name: Link Check

on:
  push:
  pull_request:

jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lycheeverse/lychee-action@v1.8.0
        with:
          args: --verbose --no-progress "**/*.md"
